############################
# OS X
############################
.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*

############################
# Logs / backups
############################
.tmp
*.log
.tmp
*.log
*.tar
*.gz
*.sql
*.log
*.tar.gz
*.zip
*.rar
*.tgz
npm-debug.log*
yarn-debug.log*
yarn-error.log*

############################
# Builds
############################
node_modules/
dist/
